* {
    margin: 10;
    background: black;
    color: gainsboro;
    font-size: 20px;
}

h1 {
    color: blue;
    font-size: 50px;

}

h2,
h3 {
    color: yellow;
    font-size: 30px;

}

code {

    color: white;
    display: block;
}

#container {
    width: 200px;

}

#container h1 {
    color: aquamarine;
}

.m-40 {
    margin: 100px;
}

#box1 {
    border: 5px solid green;
    margin: 3px;
    padding: 10px;
}

#box2 {
    border: 5px solid purple;
    margin: 4px;
    padding: 10px;
}

#box3 {
    border: 5px solid gray;
    margin: 5px;
    padding: 10px;
}